.navigation-dropdown-parent-custom {
    height: -webkit-fill-available;
    position: relative;
    flex-grow: 1;

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: initial !important;
    }

    .dropdown-toggle.active {
        color: var(--secondary);
    }

    //Parent
    .dropdown-item.active {
        color: var(--secondary);

        &:hover {
            background-color: var(--lighter-gray) !important;
        }
    }

    //Child
    a.child-active {
        color: var(--secondary);
    }

    .dropdown-toggle.active:after {
        margin: 0px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 7px;
        height: 40px;
        padding-inline: 20px;
        color: var(--primary);
        text-decoration: none;
        border-color: var(--secondary) !important;
        font-weight: 600;
        position: relative;
        width: 100%;

        &:hover {
            background-color: var(--lighter-gray);
        }
    }

    &:has(.dropdown-menu.show) {
        .dropdown-menu.show {
            padding: 5px;
            transform: translate(0px, 5px);
            border-color: #636363;
            animation: growDown 100ms ease-in-out forwards;
            transform-origin: top center;
            min-width: 100%;
            z-index: 20000;
        }

        span {
            &:after {
                transform: rotateX(180deg);
            }
        }
    }

    // nested dropdown header
    .navigation-dropdown-nested-title-custom {
        margin-top: 10px;
        color: var(--dark-gray);
        font-family: var(--bs-header-font-family);
        font-weight: 600;
        padding-inline: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // represents the toggle to show a dropdown
    .navigation-dropdown-input-custom {
        appearance: none;
        height: 100%;

        button {
            text-align: center;
            user-select: none;
            cursor: pointer;
            color: var(--secondaryFont);
            font-family: $font;
            background-color: transparent !important;
            border: none;
            width: 100%;
            height: 100%;
            outline: none;
            height: -webkit-fill-available;
            border: 0;
            transition: border 0.1s ease-in-out;
            padding-inline-start: 20px;
            padding-inline-end: 30px;

            &::placeholder {
                color: var(--tertiary);
            }

            &:disabled {
                background-color: #eeeeee;
            }

            &:after {
                content: "";
                display: block;
                position: absolute;
                background: var(--secondary);
                height: 0px;
                top: 60px;
                inset-inline: 0;
                z-index: 0;
                transition: all $transitions;
            }

            &.active::after {
                content: "";
                display: block;
                position: absolute;
                background: var(--secondary);
                inset-inline-start: 0;
                height: 4px;
                top: 54px;
                transition: all $transitions;
                width: 100%;
            }


            &:hover,
            &:focus {
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    background: var(--secondary);
                    height: 6px;
                    top: 54px;
                    inset-inline: 0;
                    z-index: 0;
                    transition: all $transitions;
                }
            }
        }

        span {
            &:after {
                pointer-events: none;
                content: "";
                background-size: contain;
                background-image: url('../assets/images/caret_white.svg');
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                display: inline;
                inset-inline-end: 10px;
                top: 20px;
                transition: transform 0.2s ease-in-out;
            }
        }
    }
}