uilibrary2-form-field {


    .form-field:has(uilibrary2-select:focus-within) {
        // border-bottom-left-radius: 0;
        // border-bottom-right-radius: 0;
    }


    .form-field {
        uilibrary2-select {
            flex-grow: 1;
            width: 100%;

            .ng-select {
                position: unset !important;

                .ng-arrow-wrapper {
                    padding-right: 0px !important;
                }
            }

            .ng-select.custom {
                border: 0px;
                border-radius: 0;
                height: 50px !important;
                flex: 1;
                appearance: none !important;
                width: 99%;
            }

            .ng-select.custom .ng-clear-wrapper {
                height: 17px !important;
                width: 17px !important;
            }

            .ng-select-container {
                z-index: 0;

            }

            .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
                box-shadow: unset;
                // border-color: var(--secondary);
            }

            .ng-select.custom .ng-select-container {
                min-height: 50px !important;
                border-radius: 7px !important;
                // border: 1px solid var(--light-gray);
            }

            .ng-select.custom .ng-input {
                top: unset !important;
            }

            .ng-select.custom .ng-select-single .ng-select-container .ng-value-container .ng-input {
                top: 0px !important;
            }

            .ng-select.custom .ng-clear-wrapper {
                height: 17px;
            }

            .ng-select.custom .ng-arrow-wrapper .ng-arrow {
                content: " " !important;
                background-size: contain !important;
                background-image: url('../assets/images/caret_black.svg') !important;
                background-repeat: no-repeat !important;
                width: 20px !important;
                height: 20px !important;
                display: inline-block !important;
                transition: transform 0.2s ease-in-out !important;
                border: none !important;
                top: 3px !important;
            }

            .ng-dropdown-panel.ng-select-bottom {
                // border-bottom-left-radius: 7px !important;
                // border-bottom-right-radius: 7px !important;
                border-radius: 7px;
            }

            .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
                // border-bottom-left-radius: 0px !important;
                // border-bottom-right-radius: 0px !important;
                border-color: var(--secondary);
            }

            .ng-dropdown-panel.ng-select-bottom {
                border: none;
                border-color: var(--secondary);
                margin-top: 1px;
            }

            .ng-select.ng-select-opened {
                .ng-arrow-wrapper .ng-arrow {
                    transform: rotateX(180deg);
                }
            }

            .ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
                border-bottom-left-radius: 7px !important;
                border-bottom-right-radius: 7px !important;
            }

            .ng-dropdown-panel {
                animation: growDown 100ms ease-in-out forwards;
                transform-origin: top center;
            }

            .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
                top: unset !important;
            }

            .ng-select .ng-select-container {
                border: none;
            }

            .ng-select .ng-select-container .ng-value-container .ng-placeholder {
                color: transparent;
                font-size: 14px;
                position: relative;
            }

            .ng-select .ng-select-container .ng-value-container .ng-value {
                position: relative;
                left: 15px;
            }

            .ng-select .ng-select-container .ng-value-container .ng-input>input {
                margin-left: 10px;
            }

            .ng-select .ng-select-container .ng-value-container {
                padding-left: 0px;
            }

            .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
                background-color: #DEDEDE;
                border-radius: 25px;
            }

            .ng-select.ng-select-disabled>.ng-select-container {
                background-color: #EEEEEE;
            }

            .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
                margin: 5px;
                border-radius: 7px;


                &.ng-option-selected {
                    background-color: #DEDEDE;
                }

                &.ng-option-selected.ng-option-marked {
                    background-color: #DEDEDE;
                }

                &.ng-option-marked {
                    background-color: #EEEEEE;
                }
            }

            .ng-select div,
            .ng-select input,
            .ng-select span {
                font-weight: 300;
            }
        }


    }

    &.form-field-label-float {

        .form-field:has(uilibrary2-select) {
            ::-webkit-input-placeholder {
                color: var(--dark-gray);
            }

            :-moz-placeholder {
                color: var(--dark-gray);
            }

            ::-moz-placeholder {
                color: var(--dark-gray);
            }

            :-ms-input-placeholder {
                color: var(--dark-gray);
            }


            uilibrary2-select {
                .ng-select .ng-select-container .ng-value-container .ng-placeholder {
                    color: black;
                    font-size: 14px;
                    left: 15px;
                }

                .ng-select.ng-select-opened.ng-select-bottom>.ng-select-container {
                    z-index: 0;
                }
            }
        }
    }


    &.form-field-touched {
        &.form-field-errors {
            .form-field {
                uilibrary2-select .ng-dropdown-panel.ng-select-bottom {
                    border-color: var(--danger);
                }

                uilibrary2-select .ng-select.custom .ng-select-container {
                    border-color: var(--danger) !important;
                }

            }
        }
    }

    // //TODO Remove use of HAS for browser compatibility
    // .form-field:has(.form-field-suffix) {}

    // //TODO Remove use of HAS for browser compatibility
    // .form-field:has(.form-field-text-suffix) {}

    // //TODO Remove use of HAS for browser compatibility
    // &.form-field:has(.form-field-prefix) {
    //     uilibrary2-select {
    //         .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    //             left: 10px !important;
    //         }

    //         .ng-select .ng-select-container .ng-value-container .ng-value {
    //             left: 10px !important;
    //         }
    //     }
    // }

    // //TODO Remove use of HAS for browser compatibility
    // &.form-field:has(.form-field-text-prefix) {
    //     uilibrary2-select {
    //         .ng-select .ng-select-container .ng-value-container .ng-placeholder {
    //             left: 0px !important;
    //         }

    //         .ng-select .ng-select-container .ng-value-container .ng-value {
    //             left: 0px !important;
    //         }
    //     }
    // }

}