
@import "variable";

//Library style sheet imports
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/@ng-select/ng-select/scss/default.theme.scss";

//(Required files)
// Overrides bootstrap default variables

@import "variable-override";
@import "animations";


h1 {
  color: var(--primary);
  text-align: left;
  font-family: var(--bs-header-font-family);
  font-size: 25pt;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: bold !important;

  &.large {
    font-size: 63px;
  }
}

h2 {
  color: var(--secondary);
  text-align: left;
  font-family: var(--bs-header-font-family);
  font-size: 20pt;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: bold !important;

  &.large {
    font-size: 44px;
  }
}

h3 {
  color: var(--primary);
  text-align: left;
  font-family: var(--bs-header-font-family);
  font-size: 15pt;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: bold !important;

  &.large {
    font-size: 24px;
  }
}

p {
  color: var(--tertiary);
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;

  &.large {
    font-size: 21px;
  }
}

label {
  color: var(--tertiary);
  text-align: left;
  letter-spacing: 0px;
  opacity: 1;

  &.large {
    font-size: 21px;
  }
}


a {
  color: var(--info);
  font-size: 12pt;

  &.large {
    font-size: 21px;
  }
}


/* Custom Scroller */
/* width */
::-webkit-scrollbar {
  height: 4px;
  width: 5px;
  border-radius: 10px;
  transition: all 1s;
}

/* Track */
::-webkit-scrollbar-track {
  height: 4px;
  width: 5px;
  background: $lighter-gray;
  border-radius: 10px;
  transition: all 1s;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background:  $dark-gray;
  border-radius: 10px;
  transition: all 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
  border-radius: 10px;
  cursor: pointer;
}

/*TEXT INPUT FIELD*/
$input_height: 50px;
$borderColour: #CBCBCB;
$darkFontColour: #696969;
$disabledColour: #eeeeee;
$secondaryEscaped: 408467 !default;

$font: inherit;
$letterSpacing: 0px;

/* Flex grows for input fields */
uilibrary-dropdown {
  flex-grow: 1;
}

uilibrary-textinput {
  flex-grow: 1;
}

uilibrary-textarea {
  flex-grow: 1;
}

uilibrary-select {
  flex-grow: 1;
}

.required {
  color: var(--danger);
  font-weight: bold;
  font-size: 30px;
  position: relative;
  top: -13px;
  margin-left: 10px;
}

.dropdown-menu.show {
  font: inherit;
}

.input-field {
  position: relative;
}

.input-field>input[type=text] {
  color: $primary;
  font-family: $font;
  letter-spacing: $letterSpacing;
  background-color: white;
  height: $input_height;
  width: 100%;
  font-size: 16px;
  border: 1px solid $borderColour;
  outline: none;
  z-index: 1;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;

  &:focus {
    border-color: var(--secondary);
  }

  &:focus::-webkit-input-placeholder {
    font-size: 16px;
    color: $darkFontColour;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus,
  .input-field:not(:placeholder-shown) {}

  &:focus~.input-label::after,
  .input-field:not(:placeholder-shown)~.input-label::after {
    width: 100%;
  }

  &::-webkit-input-placeholder {
    color: transparent;
  }

  &:disabled {
    background-color: $disabledColour;
  }
}


.input-field>input[type=text]:focus+.input-label .label-name,
.input-field>input[type=text]:not(:placeholder-shown)+.input-label .label-name {
  font-size: 0.75rem;
  transform: translate(-10px, -40px);
  background-color: transparent;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 30px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    background: white;
    height: 2px;
    top: 8px;
    left: 0;
    right: 0;
    z-index: -1;
  }

  label {
    position: relative;
    z-index: 1;
    color: var(--secondary);
  }
}


.label-name {
  font-family: $font;
  letter-spacing: $letterSpacing;
  color: $darkFontColour;
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  left: 15px;
  transform: translateY(calc($input_height) - 64px);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.formfield {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.input-form {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.input-label {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 2;
  pointer-events: none;
}

.input-label::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0%;
}

/* HINT */
.hint-normal {
  font-size: 12px;
  color: $darkFontColour;
  padding-inline-start: 10px;
}

.hint-error {
  font-size: 12px;
  color: var(--danger);
  padding-inline-start: 10px;
}

/* TEXT AREA */
.textarea-form {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-grow: 1;
}

.textarea-field {
  position: relative;
}

.textarea-field>textarea {
  color: $primary;
  font-family: $font;
  letter-spacing: $letterSpacing;
  background-color: white;
  height: 100%;
  width: 100%;
  font-size: 1rem;
  border: 1px solid $borderColour;
  outline: none;
  border-radius: 3px;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 35px;

  &:disabled {
    background-color: #eeeeee;
  }

  &:focus {
    border-color: var(--secondary);
  }

  &:focus::-webkit-input-placeholder {
    font-size: 16px;
    color: $darkFontColour;
    transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:focus,
  .input-field:not(:placeholder-shown) {}

  &:focus~.input-label::after,
  .input-field:not(:placeholder-shown)~.input-label::after {
    width: 100%;
  }

  &::-webkit-input-placeholder {
    color: transparent;
  }
}

.textarea-label {
  position: absolute;
  top: 14px;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 2;
  pointer-events: none;
}

.textarea-label-name {
  font-family: $font;
  letter-spacing: $letterSpacing;
  color: $darkFontColour;
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 15px;
  transform: translateY(calc($input_height) - 45px);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field>textarea:focus+.textarea-label .textarea-label-name,
.textarea-field>textarea:not(:placeholder-shown)+.textarea-label .textarea-label-name {
  color: var(--primaryFont);
  font-size: 0.75rem;
  transform: translate(-10px, -23px);
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 30px;

  &:after {
    content: "";
    display: block;
    position: absolute;
    background: white;
    height: 2px;
    top: 8px;
    left: 0;
    right: 0;
    z-index: -1;
  }

  label {
    position: relative;
    z-index: 1;
    color: var(--secondary);
  }
}


/* CHECKBOXES */


.checkbox {
  display: flex;
  width: 100%;
  margin-bottom: 15px;

  .circle {
    position: relative;
    left: 2px;
    top: -2px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .circle2 {
    position: relative;
    right: 27px;
    height:20px;
    width: 20px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease-in-out;
    z-index: -1;
    opacity: 0.2;
  }

  .checkbox-label {
    position: relative;
  }

  .check-input {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 16px;
  }

  .check-input:before {
    content: "";
    display: inline-block;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    position: relative;
    left: 5px;
    bottom: 1px;
  }

  .label-left {
    order: 1;
    margin-left: 20px;
  }

  input[type=checkbox] {
    display: none;
  }

  .checkbox .check-input:before {
    border-radius: 3px;
  }

  input[type=checkbox]:checked+.check-input:before {
    content: "✔";
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    padding-right: 2px;
    padding-left: 1px;
    padding-top: 2px;
  }

  &:has(input[type=checkbox]:disabled) .check-input:before,
  &:has(input[type=checkbox]:checked:disabled) .check-input:before {
    background-color: #EEEEEE;
    border-color: #CBCBCB;
    pointer-events: none;
  }

  &:has(input[type=checkbox]:disabled) .circle {
   opacity: 0;
  }
}


.checkbox-small {
  display: flex;
  width: 100%;
  margin-left: 3px; //Aligns small checkbox centrally to large checkbox
  margin-bottom: 5px;

  .circle {
    position: relative;
    left: 3px;
    border-radius: 50%;
    height: 40px;
    min-width: 40px;
    background-color: transparent;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .circle2 {
    position: relative;
    right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transition: box-shadow 0.5s ease-in-out;
    z-index: -1;
    opacity: 0.2;
  }

  .checkbox-label {
    position: relative;

    &:empty {
      display: none;
    }
  }

  .check-input:empty {
    display: none;
  }

  .check-input {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    font-size: 14px !important;
  }

  .check-input:before {
    content: "";
    display: inline-block;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
    left: 5px;
  }

  .label-left {
    order: 1;
    margin-left: 10px;
  }

  input[type=checkbox] {
    display: none;
  }

  .checkbox .check-input:before {
    border-radius: 3px;
  }

  &:has(input[type=checkbox]:checked) .check-input:before {
    content: "";
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 15px;
  }

  &:has(input[type=checkbox]:disabled) .check-input:before {
    background-color: #EEEEEE;
    border-color: #CBCBCB;
    pointer-events: none;
  }

  &:has(input[type=checkbox]:disabled) .circle {
   opacity: 0;
  }
}

.fail {
  &:has(input[type=checkbox]:checked) .check-input:before {
    content: "";
    background-image: url('../assets/images/Cross.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    padding-top: 2px;
    padding-left: 0px;
  }

  .check-input:before {
    background-color: white;
    border: 2px solid darkred;
    transition: background-color 0.2s ease-in-out;
  }

  .checkbox:has(input[type=checkbox]:checked) {
    .circle2 {
      box-shadow: 0px 0px 0px 15px red !important;
    }

    .check-input:before {
      background-color: darkred;
    }
  }

  .checkbox:has(input[type=checkbox]:disabled) {
    .circle2 {
      box-shadow: unset;
    }

    .check-input:before {
      background-color: #EEEEEE;
    }
  }

  .checkbox:has(input[type=checkbox]:checked:disabled) {
    .circle2 {
      box-shadow: 0px 0px 0px 15px #EEEEEE !important;
      opacity: 1;
    }

    .check-input:before {
      background-color: #CBCBCB;
    }
  }

  .checkbox:hover {
    .circle2 {
      box-shadow: 0px 0px 0px 15px red;
    }

    .check-input:before {
      background-color: darkred;
    }
  }

  .checkbox-small:has(input[type=checkbox]:checked) {
    .circle2 {
      box-shadow: 0px 0px 0px 10px red !important;
    }

    .check-input:before {
      background-color: darkred;
      font-size: 15px;
      line-height: 15px;
      padding-top: 0;
      padding-left: 0;
    }
  }

  .checkbox-small:has(input[type=checkbox]:disabled) {
    .circle2 {
      box-shadow: unset;
    }

    .check-input:before {
      background-color: #EEEEEE;
    }
  }

  .checkbox-small:has(input[type=checkbox]:checked:disabled) {
    .circle2 {
      box-shadow: 0px 0px 0px 10px #EEEEEE !important;
      opacity: 1;
    }

    .check-input:before {
      background-color: #CBCBCB;
    }
  }

  .checkbox-small:hover {
    .circle2 {
      box-shadow: 0px 0px 0px 10px red;
    }

    .check-input:before {
      background-color: darkred;
      font-size: 15px;
      line-height: 15px;
      padding-top: 0;
      padding-left: 0;
    }
  }
}

.pass {
  &:has(input[type=checkbox]:checked) .check-input:before {
    content: "";
    background-image: url('../assets/images/Tick.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    padding-top: 2px;
    padding-left: 0px;
  }


  .check-input:before {
    background-color: white;
    border: 2px solid darkgreen;
    transition: background-color 0.2s ease-in-out;
  }

  .check-input:before:hover {
    background-color: white;
  }

  .checkbox:has(input[type=checkbox]:checked) {
    .circle2 {
      box-shadow: 0px 0px 0px 15px green !important;
    }

    .check-input:before {
      background-color: darkgreen;
    }
  }

  .checkbox:has(input[type=checkbox]:disabled) {
    .circle2 {
      box-shadow: unset;
    }

    .check-input:before {
      background-color: #EEEEEE;
    }
  }

  .checkbox:has(input[type=checkbox]:checked:disabled) {
    .circle2 {
      box-shadow: 0px 0px 0px 15px #EEEEEE !important;
      opacity: 1;
    }

    .check-input:before {
      background-color: #CBCBCB;
    }
  }

  .checkbox:hover {
    .circle2 {
      box-shadow: 0px 0px 0px 15px green;
    }

    .check-input:before {
      background-color: darkgreen;
    }
  }

  .checkbox-small:has(input[type=checkbox]:checked) {
    .circle2 {
      box-shadow: 0px 0px 0px 10px green !important;
    }

    .check-input:before {
      background-color: darkgreen;
      font-size: 15px;
      padding-top: 0px;
    }
  }

  .checkbox-small:has(input[type=checkbox]:disabled) {
    .circle2 {
      box-shadow: unset;
    }

    .check-input:before {
      background-color: #EEEEEE;
    }
  }

  .checkbox-small:has(input[type=checkbox]:checked:disabled) {
    .circle2 {
      box-shadow: 0px 0px 0px 10px #EEEEEE;
      opacity: 1;
    }

    .check-input:before {
      background-color: #CBCBCB;
    }
  }

  .checkbox-small:hover {
    .circle2 {
      box-shadow: 0px 0px 0px 10px green;
    }

    .check-input:before {
      background-color: darkgreen;
      padding-top: 0px;
    }
  }
}

.branded {
  &:has(input[type=checkbox]:checked) .check-input:before {
    content: "";
    background-image: url('../assets/images/Tick.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 18px;
    padding-top: 2px;
    padding-left: 0px;
  }

  .check-input:before {
    background-color: white;
    border: 2px solid var(--secondary);
    transition: box-shadow 0.2s ease-in-out;
  }

  .check-input:before:hover {
    background-color: white;
  }

  .checkbox:has(input[type=checkbox]:checked) {
    .circle2 {
      box-shadow: 0px 0px 0px 15px var(--secondary);
    }

    .check-input:before {
      background-color: var(--secondary);
    }
  }

  .checkbox:has(input[type=checkbox]:disabled) {
    .circle2 {
      box-shadow: unset;
    }

    .check-input:before {
      background-color: #EEEEEE;
    }
  }

  .checkbox:has(input[type=checkbox]:checked:disabled) {
    .circle2 {
      box-shadow: 0px 0px 0px 15px #EEEEEE !important;
    }

    .check-input:before {
      background-color: #CBCBCB;
    }
  }

  .checkbox:hover {
    .check-input:before {
      background-color: var(--secondary);
      padding-top: 0px;
    }

    .circle2 {
      box-shadow: 0px 0px 0px 15px var(--secondary);
    }
  }

  .checkbox-small:has(input[type=checkbox]:checked) {
    .circle2 {
      box-shadow: 0px 0px 0px 10px var(--secondary);
    }

    .check-input:before {
      background-color: var(--secondary);
      font-size: 15px;
      padding-top: 0px;
    }
  }

  .checkbox-small:has(input[type=checkbox]:disabled) {
    .circle2 {
      box-shadow: unset;
    }

    .check-input:before {
      background-color: #EEEEEE;
    }
  }

  .checkbox-small:has(input[type=checkbox]:checked:disabled) {
    .circle2 {
      box-shadow: 0px 0px 0px 10px #EEEEEE !important;
    }

    .check-input:before {
      background-color: #CBCBCB;
    }
  }

  .checkbox-small:hover {
    .check-input:before {
      background-color: var(--secondary);
      padding-top: 0px;
    }

    .circle2 {
      box-shadow: 0px 0px 0px 10px var(--secondary);
    }
  }
}

/* RADIO BUTTON */
.input-radio {
  .form-check {
    display: flex;
    padding-left: 0;
  }

  .check-input {
    order: 1;
  }

  .left {
    order: 0;
    margin-right: 10px;
  }

  .right {
    order: 3;
    margin-left: 10px;
  }

  .check-input>input[type=radio] {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #f4f6f9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 2px solid var(--secondary);
    appearance: none;
    print-color-adjust: exact;
    border-radius: 50% !important;

    &:checked {
      background-color: white;
      border-color: var(--secondary);
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23" + $secondaryEscaped + "'/%3e%3c/svg%3e");
    }

    &:checked:disabled {
      background-color: white;
      border-color: #CBCBCB;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23CBCBCB'/%3e%3c/svg%3e");
    }

    &:disabled {
      background-color: white;
      border-color: #CBCBCB;
      pointer-events: none;
      filter: none;
    }

    &:active {
      filter: brightness(90%);
    }

    &:hover {
      outline: 0;
      box-shadow: 0 0 0 0.25rem rgba($color: $secondary, $alpha: 0.2);
      background-color: rgba($color: $secondary, $alpha: 0.2);
    }
  }
}

/* SLIDE TOGGLE */
.switch-container {
  margin-bottom: 10px;

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    margin-right: 10px;
  }

  .toggle-lineheight {
    line-height: 15px;
    font-size: 14px;

    &.large {
      font-size: 16px;
    }
  }

  .switch input {
    opacity: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9D9D9D;
    -webkit-transition: .4s;
    transition: .4s;
    height: 15px;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 0px;
    bottom: -5px;
    background-color: white;
    transition: transform .4s, background-color .4s;
    border-radius: 50%;
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.2);
  }

  input:checked+.slider {
    background-color: var(--secondary);
  }

  input:disabled+.slider:before {
    background-color: #696969;
  }

  input:checked:disabled+.slider {
    background-color: #CBCBCB;
  }

  input:checked:disabled+.slider:before {
    transform: translateX(15px);
    background-color: #696969;
  }

  input:hover:disabled+.slider:before {
    box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.2);
  }

  input:focus+.slider {
    box-shadow: 0 0 1px var(--secondary);
  }

  input:checked+.slider:before {
    transform: translateX(15px);
    background-color: $primary;
  }

  input:hover+.slider:before {
    box-shadow: 0 0 0 0.75rem rgba($color: $secondary, $alpha: 0.2);
  }
}

/* ToolTip */
.tooltip-custom {
  button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #D6E5F5;
    outline: none;
    border: none;
    transition: box-shadow 0.25s ease-in-out;

    &:hover {
      box-shadow: 0px 0px 0px 10px rgba(214, 229, 245, 0.25);
    }

    &:before {
      content: '?';
      font-weight: bold;
      color: #172C4A;
      position: relative;
      top: 1px;
      left: 0px;
    }
  }
}

.tooltip-margin-left {
  margin-left: 15px;
}

.tooltip-margin-right {
  margin-right: 15px;
}

.tooltip-margin-both {
  margin-left: 15px;
  margin-right: 15px;
}

//NAVIGATION
.navbar {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--secondaryFont);
  padding: 0 !important;
}

.logo {
  display: flex;
  justify-content: center;
  min-width: 220px;
  margin-left: 10px;
  margin-right: 10px;
}

.logo img {
  flex: 1;
  object-fit: scale-down;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  padding-left: 40px;
}

.nav-item {
  border: 0;
  cursor: pointer;
  color: white !important;
  text-decoration: none;
  transition: border 0.1s ease-in-out;
}

.more {
  padding-left: 20px;
  padding-right: 20px;
}

.more-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.navigation-right-aligned-content {
  flex: 1;
  min-width: 300px;
  max-width: 300px;
  height: 100%;
}

.navigation-link-container {
  max-width: 80%;
}

.menu {
  min-width: 160px;
}

.normal-nav-links {
  display: contents;
}

.small-nav-links {
  display: none !important;
}

@media only screen and (max-width: 980px) {
  .small-nav-links {
    display: flex !important;
    justify-content: flex-end;
  }

  .normal-nav-links {
    display: none !important;
  }

  .navigation-right-aligned-content {
    min-width: 75px;
  }

  .navigation-dropdown-parent-custom {
    position: inherit !important;
  }

  .navigation-dropdown-input-custom {
    position: relative;
  } 
}

//NAVIGATION OPTION 
.navigation-option {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;

  .navigation-option-button {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    transition: border 0.1s ease-in-out;
    position: relative;

    button {
      outline: none;
      appearance: none;
      border: none;
      background-color: transparent;
      color: var(--secondaryFont);
      height: 100%;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;

      a {
        color: var(--secondaryFont);
        text-decoration: none;
      }

      &.active::after {
        content: "";
        display: block;
        position: absolute;
        background: var(--secondary);
        height: 4px !important;
        top: 56px !important;
        left: 0;
        right: 0;
        z-index: 0;
        width: 100%;
    }
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      background: var(--secondary);
      height: 0px;
      top: 60px;
      transition: all 0.1s ease-in-out;
    }
   
  
    &:hover {
      &:after {
        content: "";
        display: block;
        position: absolute;
        background: var(--secondary);
        height: 6px;
        top: 54px;
        left: 0;
        right: 0;
        z-index: 0;
      }
    }
  }
}

//NAVIGATION DROPDOWN
.navigation-dropdown-parent-custom {
  height: -webkit-fill-available;
  position: relative;
  flex-grow: 1;

  .dropdown-item {
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 7px;
    height: 40px;

    &:hover {
      background-color: #ebebeb;
    }
  }

  &:has(.active) {
    .navigation-dropdown-input-custom {
      button:after {
        content: "";
        display: block;
        position: absolute;
        background: var(--secondary);
        left: 0px;
        height: 4px;
        top: 56px;
        transition: all 0.1s ease-in-out;
        width: 100%;
      }
    }
  }

  &:has(.dropdown-menu.show) {
    .dropdown-menu.show {
      padding: 5px;
      transform: translate(0px, 5px);
      border-color: #63636363;
      animation: growDown 100ms ease-in-out forwards;
      transform-origin: top center;
      min-width: 100%;

      button {
        color: black !important;
        font-weight: 600;
      }
    }

    button {
      border-color: var(--secondary) !important;
     
      a {
        color: var(--primary);
        text-decoration: none;
      }
    }
    

    span {
      &:after {
        transform: rotateX(180deg);
      }
    }
  }

  &:not(:focus-within) {
    .dropdown-menu.show {
      display: none;
    }
  }
}

.navigation-dropdown-input-custom {
  appearance: none;
  height: 100%;
    
  button {
    text-align: center;
  }

  button {
    user-select: none;
    cursor: pointer;
    color: var(--secondaryFont);
    font-family: $font;
    background-color: transparent !important;
    border: none;
    width: 100%;
    height: 100%;
    outline: none;
    height: -webkit-fill-available;
    border: 0;
    transition: border 0.1s ease-in-out;
    padding-left: 20px;
    padding-right: 30px;

    &::placeholder {
      color: var(--tertiary);
    }

    &:disabled {
      background-color: #eeeeee;
    }   

    &:after {
      content: "";
      display: block;
      position: absolute;
      background: var(--secondary);
      height: 0px;
      top: 60px;
      transition: all 0.1s ease-in-out;
    }

    &.active::after {
      content: "";
      display: block;
      position: absolute;
      background: var(--secondary);
      left: 0px;
      height: 4px;
      top: 56px;
      transition: all 0.1s ease-in-out;
      width: 100%;
    }
   
  
    &:hover {
      &:after {
        content: "";
        display: block;
        position: absolute;
        background: var(--secondary);
        height: 6px;
        top: 54px;
        left: 0;
        right: 0;
        z-index: 0;
      }
    }
  }

  span {
    &:after {
      pointer-events: none;
      content: "";
      background-size: contain;
      background-image: url('../assets/images/caret_white.svg');
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      position: absolute;
      display: inline;
      right: 10px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}

.navigation-dropdown-toggle::after {
  display: none;
}

.navigation-drop-option-custom {
  max-height: 225px;
  overflow-y: auto;
  transform: translate(0px, 30px) !important;
  min-width: 100%;

  button {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border: none;
    font-size: 14px;
    height: 30px;
    width: 100%;
    line-height: 30px;
    text-align: left;
    appearance: none;
    background-color: white;
    position: relative;

    span {
      width: 100%;
    }
  }

  button:hover {
    background-color: #eeeeee;
  }
}

.navigation-dropdown-item-custom {
  border-radius: 5px;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
  margin-bottom: 2px;
  margin-top: 2px;

  &:focus {
    outline: 0;
  }
}

//Select Overrides
.ng-select.custom {
  border:0px;
  border-radius: 0;
  height: 50px !important;
  flex: 1;
  appearance: none !important; 
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  box-shadow: unset;
  border-color: $borderColour;
}

.ng-select.custom .ng-select-container  {            
  min-height: 50px !important;
  border-radius: 7px !important;
}

.ng-select.custom .ng-input {
  top: unset !important;
}

.ng-select.custom .ng-select-single .ng-select-container .ng-value-container .ng-input {
  top: 0px !important ;
}

.ng-select.custom .ng-clear-wrapper {
  height: 17px;
}

.ng-select.custom .ng-arrow-wrapper .ng-arrow {
  content: " " !important;
  background-size: contain !important;
  background-image: url('../assets/images/caret_black.svg') !important;
  background-repeat: no-repeat !important;
  width: 20px !important;
  height: 20px !important;
  display: inline-block !important;
  transition: transform 0.2s ease-in-out !important;
  border: none !important;
  top: 3px !important;
}

.ng-select.ng-select-opened.ng-select-bottom >.ng-select-container {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.ng-dropdown-panel.ng-select-bottom {
  border-top: none;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.ng-select.ng-select-opened {
  .ng-arrow-wrapper .ng-arrow  {
    transform: rotateX(180deg);
  }
}

.ng-dropdown-panel.ng-select-bottom .ng-dropdown-panel-items .ng-option:last-child {
  border-bottom-left-radius: 7px !important; 
  border-bottom-right-radius: 7px !important;
}

.ng-dropdown-panel {
  animation: growDown 100ms ease-in-out forwards;
  transform-origin: top center;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: unset !important;
}

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
  color: black;
  font-size: 14px;
  left: 15px;
}

.ng-select .ng-select-container .ng-value-container {
  padding-left: 20px;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
  margin-left: 10px;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value {
  background-color: #DEDEDE;
  padding: 5px;
  border-radius: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.ng-select.ng-select-disabled > .ng-select-container {
  background-color: #EEEEEE;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  margin: 5px;
  border-radius: 7px;


  &.ng-option-selected {
    background-color: #DEDEDE;
  }

  &.ng-option-selected.ng-option-marked {
    background-color: #DEDEDE;
  }

  &.ng-option-marked {
    background-color: #EEEEEE;
  }
}

//Status Tags
.status-tag {
  border: 1px, solid;
  max-width: 240px;
  border-radius: 7px;
  text-align: center;

  b, strong {
    font-weight: 600;
  }

  &.information {
    border-color: var(--info);
    background-color: var(--info-light);
    color: var(--info-dark);
  }

  &.warning {
    border-color: var(--warning);
    background-color: var(--warning-light);
    color: var(--warning-dark);
  }

  &.error {
    border-color: var(--danger);
    background-color: var(--danger-light);
    color: var(--danger-dark);
  }

  &.success {
    border-color: var(--success);
    background-color: var(--success-light);
    color: var(--success-dark);
  }
}

//Toasts
//Status Tags
.ui-toast {
  border: 1px, solid;
  border-radius: 7px;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  flex-direction: column;
  justify-content: left;
  align-content: center;

  p {
    margin-bottom: 0px;
  }

  b, strong {
    font-weight: 600;
  }

  &.information {
    border-color: var(--info);
    background-color: var(--info-light);
    color: var(--info-dark);
  }

  &.warning {
    border-color: var(--warning);
    background-color: var(--warning-light);
    color: var(--warning-dark);
  }

  &.error {
    border-color: var(--danger);
    background-color: var(--danger-light);
    color: var(--danger-dark);
  }

  &.success {
    border-color: var(--success);
    background-color: var(--success-light);
    color: var(--success-dark);
  }
}
