// ======================================================
// Colour Configuration
// ======================================================
$primary: #2A4051 !default;
$secondary: #577399 !default;
$tertiary: #202026 !default;
$primaryFont: #577399 !default;
$secondaryFont: #FFFFFF !default;
$tertiaryFont: #FFFFFF !default;

$primary-light: rgba($primary, 0.25);
$secondary-light:  rgba($secondary, 0.25);
$tertiary-light: rgba($tertiary, 0.25);

$primary-dark: darken($primary, 20%);
$secondary-dark: darken($secondary, 20%);
$tertiary-dark: darken($tertiary, 20%);

$success: #028A4D !default;
$info: #007EAB !default;
$warning: #E8C557 !default;
$danger: #D63D52 !default;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --primaryFont: #{$primaryFont};
  --secondaryFont: #{$secondaryFont};
  --tertiaryFont: #{$tertiaryFont};

  --primary-light: #{$primary-light};
  --secondary-light: #{$secondary-light};
  --tertiary-light: #{$tertiary-light};
  
  --primary-dark: #{$primary-dark};
  --secondary-dark: #{$secondary-dark};
  --tertiary-dark: #{$tertiary-dark};
  
  --success: #{$success};
  --info: #{$info};
  --warning: #{$warning};
  --danger: #{$danger};

  --light-danger: #F7BDC9;
  --light-success: #D6E7C3;
  --light-warning: #F2E5C0;
  --light-info: #D9EEF5;

  --dark-danger: #430F13;
  --dark-success: #405C25;
  --dark-warning: #422C13;
  --dark-info: #172C4A;

  --page-wrapper-max-width: 100%;
}

// ======================================================
// Theme Global setting colors
// ======================================================
$themecolor: $secondary;
$themecolor-dark: $primary;
$themecolor-alt: $tertiary;
$theme-light: #212529;
$theme-dark: #212529;

// ======================================================
// Layout settings
// ======================================================

$page-wrapper-max-width: 100%;

// ======================================================
// Common settings
// ======================================================
$shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
$transitions: 0.2s ease-in;
$transparent-dark-bg: rgba(0, 0, 0, 0.05);
$lft: left;
$rgt: right;
$card-alt: #e4e9ef;



// ======================================================
// Bootstrap override colors
// ======================================================
$white: #fff !default;
$gray-100: #ebf3f5 !default;
$gray-200: #e9edf2 !default;
$gray-300: #a6b7bf !default;
$gray-400: #ced4da !default;
$gray-500: #99abb4 !default;
$gray-600: #cccccc !default;
$gray-700: #4f5467 !default;
$gray-800: #263238 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$blue: #0088CC !default;
$dark-blue: #051626 !default;
$light-blue: #F3F9FC !default;
$lighter-gray: #DEDEDE !default;
$light-gray: #F8F8F8 !default;
$gray: #EDEDED !default;
$dark-gray: #949494 !default;
$darker-gray: #8C8C8C !default;
$indigo: #6610f2 !default;
$purple: #745af2 !default;
$pink: #e83e8c !default;
$red: #ef5350 !default;
$orange: #fb8c00 !default;
$yellow: #ffb22b !default;
$green: #06d79c !default;
$teal: #20c997 !default;
$cyan: #4fc3f7 !default;
$text-muted: $gray-500 !default;
$megna: #01c0c8 !default;

$colors: (
  "blue": $blue,
  "indigo": $indigo,
  "purple": $purple,
  "pink": $pink,
  "red": $red,
  "orange": $orange,
  "yellow": $yellow,
  "green": $green,
  "teal": $teal,
  "cyan": $cyan,
  "white": $white,
  "gray": $gray-600,
  "gray-dark": $gray-800,
);

$light: $gray-200 !default;
$dark: $gray-800 !default;
$muted: $gray-500 !default;
//
// Light Colors
//
$light-danger: #F7BDC9;
$light-success: #D6E7C3;
$light-warning: #F2E5C0;
$light-info: #D9EEF5;
$light-primary: #f1effd;
$light-inverse: #f6f6f6;
$light-megna: #e0f2f4;

//
// Dark Colors
//
$danger-dark: #430F13;
$success-dark: #405C25;
$warning-dark: #422C13;
$info-dark: #172C4A;
$primary-dark: #6352ce;
$red-dark: #d61f1f;
$inverse-dark: #232a37;
$dark-transparent: rgba(0, 0, 0, 0.05);

$theme-colors: () !default;

$theme-colors: map-merge(
  (
    "primary": $primary,
    "secondary": $secondary,
    "success": $success,
    "info": $info,
    "warning": $warning,
    "danger": $danger,
    "light": $light,
    "dark": $dark,
    "muted": $muted,
    "cyan": $cyan,
    "orange": $orange,
    "purple": $purple,
    "light-danger": $light-danger,
    "light-success": $light-success,
    "light-warning": $light-warning,
    "light-primary": $light-primary,
    "light-info": $light-info,
    "light-inverse": $light-inverse,
    "light-megna": $light-megna,
  ),
  $theme-colors
);

// ======================================================
// Dark Theme Colors Settings
// ======================================================
$theme-dark-bg-layout: #323743;
$theme-dark-text-color: #b2b9bf !default;
$theme-dark-border-color: rgba(255, 255, 255, 0.2) !default;
$theme-dark-focus-border-color: rgba(255, 255, 255, 0.4) !default;
$theme-dark-card-bg: #272b34;
$theme-dark-bg-light: #3c424e;
$main-body-bg-dark: $gray-900 !default;
$background-alt: #2b2b2b !default;

// ======================================================
// Enable optional
// ======================================================
$enable-caret: true !default;
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: false !default;
$enable-negative-margins: true;

// ======================================================
// Body
// ======================================================
$main-body-bg: #fff !default;
$body-bg: #f4f6f9;
$body-color: $black !default;
$grid-gutter-width: 20px !default;

// ======================================================
// Typography
// ======================================================
$font-size-base: 1rem;
$font-weight-base: 300 !default;
$font-family-sans-serif: "Arial,Helvetica", sans-serif !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-medium: 500 !default;
$font-weight-bold: 700 !default;
$headings-margin-bottom: 8px !default;
$headings-font-weight: 400 !default;
$headings-color: $black !default;

// Font size
$font-sizes: (
  1: 10px,
  2: 12px,
  3: 14px,
  4: 15px,
  5: 18px,
  6: 20px,
  7: 24px,
);

// display
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.75rem,
) !default;

// ======================================================
// Navbar
// ======================================================
$navbar-dark-color: rgba($white, 0.8) !default;
$navbar-dark-hover-color: rgba($white, 1) !default;

$navbar-light-color: rgba($black, 0.3) !default;
$navbar-light-hover-color: rgba($black, 0.8) !default;
