@import './navigation-dropdown/';
@import './navigation-option/';

uilibrary-navigation {
  .navbar {
    display: flex;
    height: 60px;
    align-items: center;
    padding: 10px;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: var(--primary);
    color: var(--secondaryFont);
    padding: 0 !important;

    .normal-nav-links {
      display: contents;
    }

    .logo {
      display: flex;
      justify-content: center;
      min-width: 220px;
      margin-left: 10px;
      margin-right: 10px;

      img {
        flex: 1;
        object-fit: scale-down;
      }
    }

    .nav-links {
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: flex-start;
      padding-left: 40px;

      .nav-item {
        border: 0;
        cursor: pointer;
        color: white !important;
        text-decoration: none;
        transition: border 0.1s ease-in-out;
      }

      .menu {
        min-width: 160px;
      }
    }

    .more {
      padding-left: 20px;
      padding-right: 20px;
    }

    .navigation-right-aligned-content {
      flex: 1;
      min-width: 300px;
      max-width: 300px;
      height: 100%;
    }

    .small-nav-links {
      display: none !important;
    }

    @media only screen and (max-width: 1020px) {
      .hide-on-mobile {
        display: none !important;
      }

      .small-nav-links {
        display: flex !important;
        justify-content: flex-end;
      }

      .normal-nav-links {
        display: none !important;
      }

      .navigation-right-aligned-content {
        min-width: 75px;
      }

      .navigation-dropdown-parent-custom {
        position: inherit !important;
      }

      .navigation-dropdown-input-custom {
        position: relative;
      }
    }
  }
}