// ======================================================
// Colour Configuration
// ======================================================
$primary: #000000 !default;
$secondary: #408467 !default;
$tertiary: #202121 !default;
$primaryFont: #408467 !default;
$secondaryFont: #FFFFFF !default;
$tertiaryFont: #FFFFFF !default;

$primary-light: lighten($primary, 50%);
$secondary-light:  lighten($secondary, 50%);
$tertiary-light: lighten($tertiary, 25%);

$primary-dark: darken($primary, 50%);
$secondary-dark: darken($secondary, 50%);
$tertiary-dark: darken($tertiary, 50%);

$success: #028A4D !default;
$info: #007EAB !default;
$warning: #E8C557 !default;
$danger: #D63D52 !default;

$danger-light: #F7BDC9 !default;
$success-light: #D6E7C3 !default;
$warning-light: #F2E5C0 !default;
$info-light: #D9EEF5 !default;

$danger-dark: #430F13 !default;
$success-dark: #405C25 !default;
$warning-dark: #422C13 !default;
$info-dark: #172C4A !default;

$white: #fff !default;
$gray-100: #EEEEEE !default;
$gray-200: #DEDEDE !default;
$gray-300: #CBCBCB !default;
$gray-400: #ced4da !default;
$gray-500: #99abb4 !default;
$gray-600: #cccccc !default;
$gray-700: #636363 !default;
$gray-800: #263238 !default;
$gray-900: #212529 !default;
$black: #000 !default;


:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --tertiary: #{$tertiary};
  --primaryFont: #{$primaryFont};
  --secondaryFont: #{$secondaryFont};
  --tertiaryFont: #{$tertiaryFont};

  --primary-light: #{$primary-light};
  --secondary-light: #{$secondary-light};
  --tertiary-light: #{$tertiary-light};
  
  --primary-dark: #{$primary-dark};
  --secondary-dark: #{$secondary-dark};
  --tertiary-dark: #{$tertiary-dark};
  
  --success: #{$success};
  --info: #{$info};
  --warning: #{$warning};
  --danger: #{$danger};

  --success-light: #{$success-light};
  --info-light: #{$info-light};
  --warning-light: #{$warning-light};
  --danger-light: #{$danger-light};

  --success-dark: #{$success-dark};
  --info-dark: #{$info-dark};
  --warning-dark: #{$warning-dark};
  --danger-dark: #{$danger-dark};

  --almost-white: #{$gray-100};
  --lighter-gray: #{$gray-200};
  --light-gray: #{$gray-300};
  --mute-gray: #{$gray-500};
  --dark-gray: #{$gray-700};
  --darker-gray: #{$gray-900};

  --page-wrapper-max-width: 100%;
}

// ======================================================
// Theme Global setting colors
// ======================================================
$themecolor: $secondary;
$themecolor-dark: $primary;
$themecolor-alt: $tertiary;
$theme-light: #212529;
$theme-dark: #212529;

// ======================================================
// Layout settings
// ======================================================
$page-wrapper-max-width: 100%;

// ======================================================
// Common settings
// ======================================================
$shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
$transitions: 100ms ease-in-out;
$transparent-dark-bg: rgba(0, 0, 0, 0.05);
$lft: left;
$rgt: right;
$card-alt: #e4e9ef;

// ======================================================
// Bootstrap override colors
// ======================================================


$light: $gray-200 !default;
$dark: $gray-700 !default;
$muted: $gray-500 !default;


$font: inherit;
