h1 {
  color: var(--primary);
  text-align: start;
  font-family: var(--bs-header-font-family);
  font-size: 25pt;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: bold !important;

  &.large {
    font-size: 46pt !important;
  }
}

h2 {
  color: var(--secondary);
  text-align: start;
  font-family: var(--bs-header-font-family);
  font-size: 20pt;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: bold !important;

  &.large {
    font-size: 33pt !important;
  }
}

h3 {
  color: var(--primary);
  text-align: start;
  font-family: var(--bs-header-font-family);
  font-size: 15pt;
  letter-spacing: 0px;
  opacity: 1;
  font-weight: bold !important;

  &.large {
    font-size: 18pt !important;
  }
}

p {
  color: var(--tertiary);
  text-align: start;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 11pt;

  &.large {
    font-size: 14pt !important;
  }
}

label {
  color: var(--tertiary);
  text-align: start;
  letter-spacing: 0px;
  opacity: 1;
  font-size: 11pt;

  &.large {
    font-size: 14pt !important;
  }
}


a {
  color: var(--secondary);
  font-size: 11pt;

  &.large {
     font-size: 14pt !important;
  }
}