uilibrary-toggle {
  .switch-container {
    margin-bottom: 10px;
  
    .switch {
      position: relative;
      display: inline-block;
      margin-inline-end: 10px;
      cursor: pointer;
      font-size: 14px;
  
      input[type=checkbox] {
        width: 40px;
      }
  
      span {
        width: 40px;
      }
    }
  
    .toggle-lineheight {
      font-size: 14px;
  
      &.large {
        font-size: 16px;
      }
    }
  
    .switch input {
      opacity: 0;
    }
  
    .slider {
      position: relative;
      cursor: pointer;
      inset-inline: 0;
      background-color: #9D9D9D;
      -webkit-transition: .4s;
      transition: .4s;
      height: 15px;
      border-radius: 34px;
    }
  
    .slider:before {
      position: absolute;
      content: "";
      height: 25px;
      width: 25px;
      inset-inline-start: 0;
      bottom: -5px;
      background-color: white;
      transition: transform .4s, background-color .4s;
      border-radius: 50%;
      box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.2);
    }
  
    input:checked+.slider {
      background-color: var(--secondary);
    }
  
    input:disabled+.slider:before {
      background-color: #696969;
    }
  
    input:checked:disabled+.slider {
      background-color: #CBCBCB;
    }
  
    input:checked:disabled+.slider:before {
      transform: translateX(15px);
      background-color: #696969;
    }

    [dir="rtl"] input:checked:disabled+.slider:before {
      transform: translateX(-15px);
    }
  
    input:hover:disabled+.slider:before {
      box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.2);
    }
  
    input:focus+.slider {
      box-shadow: 0 0 1px var(--secondary);
    }
  
    input:checked+.slider:before {
      transform: translateX(15px);
      background-color: $primary;
    }

    [dir="rtl"] input:checked+.slider:before {
      transform: translateX(-15px);
    }
  
    input:hover+.slider:before {
      box-shadow: 0 0 0 0.75rem rgba($color: $secondary, $alpha: 0.2);
    }
  }
}
