uilibrary-status-tag {
    .status-tag {
        border: 1px, solid;
        max-width: 240px;
        border-radius: 7px;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;

        b,
        strong {
            font-weight: 600;
        }
    
        &.information {
            border-color: var(--info);
            background-color: var(--info-light);
            color: var(--info-dark);

            a {
                color: var(--info-dark);
            }
        }
    
        &.warning {
            border-color: var(--warning);
            background-color: var(--warning-light);
            color: var(--warning-dark);

            a {
                color: var(--warning-dark);
            }
        }
    
        &.error {
            border-color: var(--danger);
            background-color: var(--danger-light);
            color: var(--danger-dark);

            a {
                color: var(--danger-dark);
            }
        }
    
        &.success {
            border-color: var(--success);
            background-color: var(--success-light);
            color: var(--success-dark);

            a {
                color: var(--success-dark);
            }
        }
         
        &.primary {
            border-color: var(--primary);
            background-color: var(--primary);
            color: var(--primaryFont);

            a {
                color: var(--primaryFont);
            }
        }

         &.secondary {
            border-color: var(--secondary);
            background-color: var(--secondary);
            color: var(--secondaryFont);

            a {
                color: var(--secondary-font);
            }
        }

        &.inactive {
            border-color: var(--dark-gray);
            background-color: var(--light-gray);
            color: var(--darker-gray);

            a {
                color: var(--secondary-font);
            }
        }

         &.pending {
            border-color: var(--warning);
            background-color: var(--warning-light);
            color: var(--warning-dark);

            a {
                color: var(--warning-dark);
            }
        }
    }
}